body{
    font-family:"Trebuchet MS", Helvetica;
    text-align: center;
    background-color: #eee;
}

nav{
	top:0px;
  	height:50px;
  	position:fixed;
  	width:100%;
  	z-index:1;
}

section{
	width:100%;
	min-height: 100vh;
}

#about{
	margin-top:50px;
	position: relative;
}

.desc-container{
	position:absolute;
	top:10%;
	left:20%;
	border: 1px solid black;
	width: 60%;
	height: 70%;
	margin:auto;
	display: grid;
	grid-template-columns: 50% 50%;
	
}

.desc-img{
	height: 100%;
	background-color: green;
}

.desc-words{
	height: 100%;
	padding: 50px;
	text-align: center;
}

#myApps{
	background-color: yellow;
	
}

#contact{
	background-color: green;	
}

